<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security5">

<head th:fragment="header">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
</head>

<nav th:fragment="menu"
	class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" th:href="@{/}">ECOM-APP</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

			<li class="nav-item"><a class="nav-link" th:href="@{/}">Brand</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/search/categories}">Categories</a></li>

			<li class="nav-item" sec:authorize="isAuthenticated()"><a
				class="nav-item" th:href="@{/order/customerOrders}">My Orders</a></li>

		</ul>
		<ul class="navbar-nav ml-auto">
			<form class="form-inline my-2 my-lg-0"
				th:action="@{/search/byProduct}">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Product name" aria-label="Search" name="productname">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item " sec:authorize="isAuthenticated()"><a
				class="nav-link" th:href="@{/cart/all}"> <i style="color: white"
					class="fa fa-cart-arrow-down fa-lg" aria-hidden="true"></i> <span
					class="badge badge-primary" th:if="${session.cartItemsCount>0}">[[${session.cartItemsCount}]]</span>
			</a></li>



			<!--User START-->
			<li class="nav-item dropdown" sec:authorize="isAnonymous()"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> User Operations </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/customer/register}">Register</a>
					<a class="dropdown-item" th:href="@{/login}">Login</a>
				</div></li>
			<!--User END-->

			<!-- Profile START -->
			<li class="nav-item dropdown" sec:authorize="isAuthenticated()"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <span th:text="${session.displayName}"></span>
					(<span sec:authentication="principal.authorities"></span>)
			</a>

				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/user/profile}">My Profile</a>
					<a class="dropdown-item" th:href="@{/user/showPwdUpdate}">Password
						Update</a> <a class="dropdown-item" th:href="@{/logout}">Logout</a>
				</div></li>


			<!-- Profile END -->


		</ul>

	</div>
</nav>

</html>
