<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary  text-white">
				<h1>Welcome to Brand Data Page</h1>
			</div>
			<div class="card-body">
				<table class="table table-bordered table-hover">
					<tr class="bg-warning">
						<td></td>
						<td>NAME</td>
						<td>CODE</td>
						<td>TAGLINE</td>
						<td>NOTE</td>
						<td colspan='2'>OPERATION</td>
					</tr>
					<tr th:each="ob:${list}">
						<td><img th:src="${ob.image}" width="50" height="70" /></td>
						<td>[[${ob.name}]]</td>
						<td>[[${ob.code}]]</td>
						<td>[[${ob.tagLine}]]</td>
						<td>[[${ob.note}]]</td>
						<td><a th:href="@{/brand/delete(id=${ob.id})}"
							class="btn btn-danger">DELETE<i class="fa fa-trash-o"
								aria-hidden="true"></i></a> | <a
							th:href="@{/brand/edit(id=${ob.id})}" class="btn btn-success">EDIT<i
								class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
					</tr>
				</table>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b> <span class="navbar-text">@Design And
					Developed SahyandriTech </span>
			</div>

		</div>
	</div>
</body>
</html>
