<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary  text-white">
				<h1>Welcome to Category Register Page</h1>
			</div>
			<div class="card-body">
				<form th:action="@{/category/save}" method="POST"
					id="myCategoryForm">

					<!--row #1-->
					<div class="row">
						<div class="col-4">
							<label for="name">NAME</label>
						</div>
						<div class="col-4">
							<input type="text" name="name" id="categoryName"
								class="form-control" />
						</div>
						<div class="col-4">
							<span id="categoryName"></span>
						</div>
					</div>

					<!--row #2-->
					<div class="row">
						<div class="col-4">
							<label for="alias">ALIAS</label>
						</div>
						<div class="col-4">
							<input type="text" name="alias" id="aliasError"
								class="form-control" />
						</div>
						<div class="col-4">
							<span id="aliasError"></span>
						</div>
					</div>

					<!--row #3-->
					<div class="row">
						<div class="col-4">
							<label for="categoryType">TYPE</label>
						</div>
						<div class="col-4">
							<select name="categoryType.id" id="categoryType"
								class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="ob:${categoryTypes}" th:text="${ob.value}"
									th:value="${ob.key}"></option>
							</select>
						</div>
						<div class="col-4">
							<span id="ctypeError"></span>
						</div>
					</div>

					<!--row #4-->
					<div class="row">
						<div class="col-4">
							<label for="status">STATUS</label>
						</div>
						<div class="col-4">
							<input type="radio" name="status" value="ACTIVE" />ACTIVE <input
								type="radio" name="status" value="INACTIVE" />INACTIVE
						</div>
						<div class="col-4">
							<span id="statusError"></span>
						</div>
					</div>

					<!--row #5-->
					<div class="row">
						<div class="col-4">
							<label for="note">NOTE</label>
						</div>
						<div class="col-4">
							<textarea name="note" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="noteError"></span>
						</div>
					</div>

					<input type="submit" value="Register" class="btn btn-success" />
				</form>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b> <span class="navbar-text">@Design And
					Developed by SahyandriTech </span>
			</div>
		</div>
	</div>
</body>
</html>
