<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary  text-white">
				<h1>Welcome to Category Edit Page</h1>
			</div>
			<div class="card-body">
				<form th:action="@{/category/update}" method="POST"
					id="myCategoryForm" th:object="${category}">


					<!--row #0-->
					<div class="row">
						<div class="col-4">
							<label for="id">ID</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{id}" class="form-control" readonly />
						</div>
					</div>


					<!--row #1-->
					<div class="row">
						<div class="col-4">
							<label for="name">NAME</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{name}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="categoryName"></span>
						</div>
					</div>

					<!--row #2-->
					<div class="row">
						<div class="col-4">
							<label for="alias">ALIAS</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{alias}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="aliasError"></span>
						</div>
					</div>

					<!--row #3-->
					<div class="row">
						<div class="col-4">
							<label for="categoryType">TYPE</label>
						</div>
						<div class="col-4">
							<select th:field="*{categoryType}" id="categoryType"
								class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="ob:${categoryType}" th:text="${ob.value}" th:value="${ob.key}"></option>
							</select>
						</div>
						<div class="col-4">
							<span id="categoryTypeError"></span>
						</div>
					</div>

					<!--row #4-->
					<div class="row">
						<div class="col-4">
							<label for="status">STATUS</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{status}" value="ACTIVE" />ACTIVE
							<input type="radio" th:field="*{status}" value="INACTIVE" />INACTIVE
						</div>
						<div class="col-4">
							<span id="statusError"></span>
						</div>
					</div>

					<!--row #5-->
					<div class="row">
						<div class="col-4">
							<label for="note">NOTE</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{note}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="noteError"></span>
						</div>
					</div>

					<input type="submit" value="Update" class="btn btn-success" />
				</form>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b> <span class="navbar-text">@Design And
					Developed by SahyandriTech </span>
			</div>
		</div>
	</div>
</body>
</html>
