<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/customerUi :: header"></div>

<body>
	<div th:replace="fragments/customerUi :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h1>ALL CATEGORY</h1>
			</div>
			<div class="card-body">
				<div class="list-group">
					<th:block th:each="ob:${list}">
						<div class="list-group-item list-group-item-action">
							<a th:href="@{/search/categoryProducts(catId=${ob.id})}"><h3>[[${ob.name}]]</h3></a>
							<span>[[${ob.alias}]]</span>
							<h5>[[${ob.note}]]</h5>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
