<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/customerUi :: header"></div>
<body>
	<div th:insert="fragments/customerUi :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h3>CUSTOMER ORDERS</h3>
			</div>
			<div class="card-body">
				<table class="table table-bordered table-hover">
					<tr class="bg-warning">
						<th>ID#</th>
						<th>STATUS</th>
						<th class="text-center">ITEMS</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob:${list}">
						<td>[[${ob.id}]]</td>
						<td class="btn btn-success">[[${ob.status}]]</td>
						<td>
							<table class="table">
								<tr class="bg-info">
									<th>NAME</th>
									<th>COST</th>
									<th>QTY</th>
									<th>LINE AMOUNT</th>
								</tr>
								<tr th:each="orderItem:${ob.orderItem}">
									<td><img th:src="${orderItem.product.image}" width="8%"
										height="8%" />[[${orderItem.product.name}]]</td>
									<td>[[${orderItem.product.cost}]]</td>
									<td>[[${orderItem.qty}]]</td>
									<td>[[${orderItem.lineAmout}]]</td>
								</tr>
							</table>
							<h5 class="text-primary">Billing Address : [[${custAddr}]]</h5>
							<h4 class="text-center">GRAND TOTAL : [[${ob.grandTotal}]]</h4>
						</td>
						<td><a th:href="@{/order/cancel(id=${ob.id})}"
							class="btn btn-danger">CANCEL ORDER</a> <br /> <br /> <a
							th:if="${ob.status=='OPEN'}"
							th:href="@{/payment/billPay(orderId=${ob.id})}"
							class="btn btn-success">PAY AMOUNT</a> <br />
						<br /> <a th:if="${ob.status!='OPEN'}"
							th:href="@{/payment/invoice(orderId=${ob.id})}"
							class="btn btn-primary">PRINT INVOICE</a></td>
					</tr>
				</table>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b>
			</div>
		</div>
	</div>
</body>

</html>
