<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/customerUi :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary  text-white text-center">
				<h1>Customer Register</h1>
			</div>
			<div class="card-body">
				<form th:action="@{/customer/save}" method="POST"
					id="myCustomerForm">

					<!--row #1-->
					<div class="row">
						<div class="col-3">
							<label>NAME</label>
						</div>
						<div class="col-4">
							<input type="text" name="name" id="name" class="form-control" />
						</div>
						<div class="col-5">
							<span id="nameError"></span>
						</div>
					</div>

					<!--row #2-->
					<div class="row">
						<div class="col-3">
							<label>EMAIL</label>
						</div>
						<div class="col-4">
							<input type="text" name="email" id="email" class="form-control" />
						</div>
						<div class="col-5">
							<span id="emailError"></span>
						</div>
					</div>



					<!--row #3-->
					<div class="row">
						<div class="col-3">
							<label>MOBILE</label>
						</div>
						<div class="col-4">
							<input type="text" name="mobile" id="mobile" class="form-control" />
						</div>
						<div class="col-5">
							<span id="mobileError"></span>
						</div>
					</div>

					<!-- Row #4 -->
					<div class="row">
						<div class="col-3">
							<label>GENDER</label>
						</div>
						<div class="col-4">
							<input type="radio" name="gender" id="gender1" value="Male" />Male
							<input type="radio" name="gender" id="gender2" value="Female" />Female
						</div>
						<div class="col-5">
							<span id="genderError"></span>
						</div>
					</div>

					<!-- Row #5 -->
					<div class="row">
						<div class="col-3">
							<label>DOB</label>
						</div>
						<div class="col-4">
							<input type="date" name="dob" id="dob" class="form-control" />
						</div>
						<div class="col-5">
							<span id="dobError"></span>
						</div>
					</div>

					<!-- Row #6 -->
					<div class="row">
						<div class="col-3">
							<label>PRESENT ADDRESS</label>
						</div>
						<div class="col-4">
							<div class="row">
								<div class="col-2">
									<label>Line1</label>
								</div>
								<div class="col-10">
									<input type="text" name="address[0].line1" id="address0Line1"
										class="form-control" />
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<label>Line2</label>
								</div>
								<div class="col-10">
									<input type="text" name="address[0].line2" id="address0Line2"
										class="form-control" />
								</div>
							</div>

							<div class="row">
								<div class="col-2">
									<label>Country</label>
								</div>
								<div class="col-10">
									<select id="address0country" name="address[0].country"
										class="form-control">
										<option value="-1">-SELECT-</option>
										<option th:each="ob:${countryList}" th:value="${ob[0]}"
											th:text="${ob[1]}" />
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-2">
									<label>State</label>
								</div>
								<div class="col-10">
									<select id="address0state" name="address[0].state"
										class="form-control">
										<option value="-1">-SELECT-</option>
										<option th:each="ob:${stateList}" th:value="${ob[0]}"
											th:text="${ob[1]}"></option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-2">
									<label>City</label>
								</div>
								<div class="col-10">
									<select id="address0city" name="address[0].city"
										class="form-control">
										<option value="-1">-SELECT-</option>
											<option th:each="ob:${cityList}" th:value="${ob[0]}"
											th:text="${ob[1]}"></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<label>Pincode</label>
								</div>
								<div class="col-10">
									<input type="text" name="address[0].pincode"
										id="address0pincode" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-5">
							<span id="addr0Error"></span>
						</div>
					</div>
					<br />
					<!-- Row #7 -->
					<div class="row">
						<div class="col-3">
							<label>Permanent Address</label><br /> <input type="checkbox"
								name="sameAddr" id="sameAddr" /> SAME AS THE PRESENT ADDRESS
						</div>
						<div class="col-4">
							<div class="row">
								<div class="col-2">
									<label>Line1</label>
								</div>
								<div class="col-10">
									<input type="text" name="address[1].line1" id="address1Line1"
										class="form-control" />
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<label>Line2</label>
								</div>
								<div class="col-10">
									<input type="text" name="address[1].line2" id="address1Line2"
										class="form-control" />
								</div>
							</div>

							<div class="row">
								<div class="col-2">
									<label>Country</label>
								</div>
								<div class="col-10">
									<select id="address1country" name="address[1].country"
										class="form-control">
										<option value="-1">-SELECT-</option>
										<option th:each="ob:${countryList}" th:value="${ob[0]}"
											th:text="${ob[1]}"></option>
									</select>
								</div>
							</div>


							<div class="row">
								<div class="col-2">
									<label>State</label>
								</div>
								<div class="col-10">
									<select id="address1state" name="address[1].state"
										class="form-control">
										<option value="-1">-SELECT-</option>
										<option th:each="ob:${stateList}" th:value="${ob[0]}"
											th:text="${ob[1]}"></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<label>City</label>
								</div>
								<div class="col-10">
									<select id="address1city" name="address[1].city"
										class="form-control">
										<option value="-1">-SELECT-</option>
										<option th:each="ob:${cityList}" th:value="${ob[0]}"
											th:text="${ob[1]}"></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-2">
									<label>Pincode</label>
								</div>
								<div class="col-10">
									<input type="text" name="address[1].pincode"
										id="address1pincode" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-5">
							<span id="addr1Error"></span>
						</div>
					</div>

					<input type="submit" value="Register" class="btn btn-success" />
				</form>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b> <span class="navbar-text">@Design And
					Developed by SahyandriTech </span>
			</div>
		</div>
	</div>
	<script th:src="@{/myjs/dropDown.js}">
		
	</script>
</body>
</html>
