<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/customerUi :: header"></div>

<body>
	<div th:replace="fragments/customerUi :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						<img th:src="${product.image}" />
					</div>
					<div class="col-8">
						<table class="table">
							<tr>
								<td>NAME</td>
								<td class="bg-info text-white">[[${product.name}]]</td>
							</tr>
							<tr>
								<td>COST</td>
								<td class="bg-info text-white">[[${product.cost}]]</td>
							</tr>
							<tr>
								<td>BRAND</td>
								<td class="bg-info text-white">[[${product.brand.name}]]</td>
							</tr>
							<tr>
								<td>Details</td>
								<td>
									<ul>
										<li>[[${product.shortDesc}]]</li>
										<li>[[${product.fullDesc}]]</li>
										<li>LENGTH:[[${product.len}]] x WIDTH:[[${product.wid}]]
											x HEIGHT: [[${product.height}]]</li>
										<li>WEIGHT: [[${product.weight}]]
											([[${product.wigType}]])</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td colspan="2"><a class="btn btn-success"
									th:href="@{/cart/add(prodId=${product.id})}">ADD CART</a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="card-footer bg-info text-white">
					<b>[[${message}]]</b>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
