<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary  text-white">
				<h1>Welcome to Product Register Page</h1>
			</div>
			<div class="card-body">
				<form th:action="@{/product/save}" method="POST" id="myProductForm">

					<!--row #1-->
					<div class="row">
						<div class="col-3">
							<label for="name">Name</label>
						</div>
						<div class="col-5">
							<input type="text" name="name" id="name" class="form-control" />
						</div>
						<div class="col-4">
							<span id="nameError"></span>
						</div>
					</div>

					<!--row #2-->
					<div class="row">
						<div class="col-3">
							<label for="shortDesc">Short Description</label>
						</div>
						<div class="col-5">
							<input type="text" name="shortDesc" id="shortDesc"
								class="form-control" />
						</div>
						<div class="col-4">
							<span id="shortDescError"></span>
						</div>
					</div>



					<!--row #3-->
					<div class="row">
						<div class="col-3">
							<label for="fullDesc">Full Description</label>
						</div>
						<div class="col-5">
							<textarea name="fullDesc" id="fullDesc" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="fullDescError"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<label>IMAGE</label>
						</div>
						<div class="col-4">
							<input type="file" name="fileOb" id="fileOb" class="form-control"
								onchange="uploadFile()" /><input type="hidden" id="image"
								name="image" />

						</div>
						<div class="col-5">
							<span id="imageError"></span>
						</div>
					</div>

					<!-- Row #4 -->
					<div class="row">
						<div class="col-3">
							<label>Brand</label>
						</div>
						<div class="col-5">
							<select name="brand.id" id="brand" class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="ob:${brands}" th:text="${ob.value}"
									th:value="${ob.key}" />
							</select>
						</div>
						<div class="col-4">
							<span id="brandError"></span>
						</div>
					</div>

					<!-- Row #5 -->
					<div class="row">
						<div class="col-3">
							<label>Category</label>
						</div>
						<div class="col-5">
							<select name="category.id" id="category" class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="ob:${categories}" th:text="${ob.value}"
									th:value="${ob.key}" />
							</select>
						</div>
						<div class="col-4">
							<span id="categoryError"></span>
						</div>
					</div>

					<!-- Row #6 -->
					<div class="row">
						<div class="col-3">
							<label>Status</label>
						</div>
						<div class="col-5">
							<input type="radio" name="status" id="status" value="Active" />Active
							<input type="radio" name="status" id="status" value="In-Active" />In-Active
						</div>
						<div class="col-4">
							<span id="statusError"></span>
						</div>
					</div>

					<!-- Row #7 -->
					<div class="row">
						<div class="col-3">
							<label>In-Stock</label>
						</div>
						<div class="col-5">
							<input type="radio" name="inStock" id="inStock" value="Yes" />Yes
							<input type="radio" name="inStock" id="inStock" value="No" />No
						</div>
						<div class="col-4">
							<span id="inStockError"></span>
						</div>
					</div>


					<!--row #8-->
					<div class="row">
						<div class="col-3">
							<label>Cost</label>
						</div>
						<div class="col-5">
							<input type="text" name="cost" id="cost" class="form-control" />
						</div>
						<div class="col-4">
							<span id="costError"></span>
						</div>
					</div>

					<!--row #9-->
					<div class="row">
						<div class="col-3">
							<label>Dimension</label>
						</div>
						<div class="col-5">
							<div class="row">
								<div class="col-3">
									LENGTH: <input type="text" name="len" id="len"
										class="form-control" />
								</div>
								<div class="col-3">
									WIDTH: <input type="text" name="wid" id="wid"
										class="form-control" />
								</div>
								<div class="col-3">
									HEIGHT: <input type="text" name="height" id="height"
										class="form-control" />
								</div>
								<div class="col-3">
									TYPE: <select name="dimType" id="dimType" class="form-control">
										<option value="INCH">INCH</option>
										<option value="CM">CM</option>
										<option value="METERS">METERS</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-4">
							<span id="dimTypeError"></span>
						</div>
					</div>
					<br />

					<!-- Row # 10 -->
					<div class="row">
						<div class="col-3">
							<label>Weight</label>
						</div>
						<div class="col-5">
							<div class="row">
								<div class="col-6">
									<input type="text" name="weight" id="weight"
										class="form-control" />
								</div>
								<div class="col-6">
									<select name="wigType" id="wigType" class="form-control">
										<option value="KG">KG</option>
										<option value="GRAM">GRAM</option>
										<option value="TON">TON</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-4">
							<span id="weightError"></span>
						</div>
					</div>

					<!-- Row #11 -->
					<div class="row">
						<div class="col-3">
							<label for="note">Note</label>
						</div>
						<div class="col-5">
							<textarea name="note" id="note" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="noteError"></span>
						</div>
					</div>

					<input type="submit" value="Add Product" class="btn btn-success" />
				</form>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b> <span class="navbar-text">@Design And
					Developed by SahyandriTech </span>
			</div>
		</div>
	</div>
	<script th:src="@{/myjs/uploadImgBb.js}"></script>
</body>
</html>
