<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary  text-white">
				<h1>Welcome to User Data Page</h1>
			</div>
			<div class="card-body">
				<table class="table table-bordered table-hover">
					<tr class="bg-warning">
						<td>NAME</td>
						<td>EMAIL</td>
						<td>CONTACT</td>
						<td>STATUS</td>
						<td>ROLE</td>
						<td>ADDRESS</td>
						<td colspan='2'>OPERATION</td>
					</tr>
					<tr th:each="ob:${list}">
						<td>[[${ob.displayName}]]</td>
						<td>[[${ob.email}]]</td>
						<td>[[${ob.contact}]]</td>
						<td class="bg-info text-white">[[${ob.status}]]</td>
						<td>[[${ob.role}]]</td>
						<td>[[${ob.address}]]</td>
						<td><a th:href="@{/user/delete(id=${ob.id})}"
							class="btn btn-danger">DELETE<i class="fa fa-trash-o"
								aria-hidden="true"></i></a> | <a
							th:href="@{/user/edit(id=${ob.id})}" class="btn btn-success">EDIT<i
								class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
					</tr>
				</table>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b> <span class="navbar-text">@Design And
					Developed SahyandriTech </span>
			</div>

		</div>
	</div>
</body>
</html>
