<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div class="conatiner">
		<div class="card">
			<div class="card-header bg-info text-white text-center">
				<h3>User New Password Generator</h3>
			</div>
			<div class="card-body">
				<form th:action="@{/user/genNewPwd}" method="POST">
					<div class="row">
						<div class="col-2">
							<label for="email">Email</label>
						</div>
						<div class="col-4">
							<input type="text" name="email" id="email" class="form-control"
								required />
						</div>
					</div>

					<button type="submit" class="btn btn-success">Generate</button>
					<br /> <a th:href="@{/user/login}">Click Here to Login!</a>
				</form>
			</div>
			<div class="card-footer" 
				th:if="${message!=null}">
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>

</body>
</html>
